<!doctype html>
<html>
<head>

	<meta charset="utf-8" />
	<meta name="handheldfriendly" content="true" />
	<meta name="mobileoptimized"  content="width" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Open source software for the mobile web!" />
	<meta name="author" content="Dwight Vietzke" />

    <title>AngularJS - Ultra Simple Select Demo</title>

    <link type="text/css" href="../mobilesiteos/ng/bootstrap/css/v335.uc.css" rel="stylesheet" />
    <link type="text/css" href="../mobilesiteos/ng/bootstrap/css/v335_theme.uc.css" rel="stylesheet" />

    <link rel='shortcut icon' href='../mobilesiteos/images/osm.ico' />
    <style>
        /* Std AngularJS CSS: Load in page so cloaking start immediately */
        [ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}

		ng\:form {
			display: block;
		}

        .ng-cloak {
            opacity: 0;
        }

		.ng-animate-shim{
			visibility:hidden;
		}

		.ng-anchor{
			position:absolute;
		}

        .demos {
            margin: 25px;
        }
    </style>

</head>
<body class="ng-cloak demos">
    <nav data-ng-ignore class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="./simple_select.html">AngularJS - Ultra Simple Select Demo</a>
            </div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="./simple_select_std_dbg.html"><i class="fa fa-external-link"></i> Standard AngularJS</a></li>
				<li><a href="./"><i class="fa fa-step-backward"></i> Demo Index</a></li>
			</ul>
        </div>
    </nav>

	<h2>MobileSiteOS Version of AngularJS</h2>

    <div data-ng-ignore class="well">
		<p>
			This ultra simple page is rendered using our MobileSiteOS version of AngularJS.
			It is a test page for the AngularJS "SelectController" Directive.
		</p>

		<ul>
			<li><a href="?debug=true">Debugging</a></li>
			<li><a href="?verbose=true">Verbose Debugging</a></li>
		</ul>
    </div>

    <div ng-controller="ExampleController">
        <ul>
            <li ng-repeat="color in colors">
                <label>Name: <input ng-model="color.name"></label>
                <label>
                    <input type="checkbox" ng-model="color.notAnOption"> Disabled?
                </label>
                <button ng-click="colors.splice($index, 1)" aria-label="Remove">X</button>
            </li>
            <li>
                <button ng-click="colors.push({})">add</button>
            </li>
        </ul>
        <hr/>
        <label>Color (null not allowed):
            <select ng-model="myColor" ng-options="color.name for color in colors"></select>
        </label>
        <br/>
        <label>Color (null allowed):
            <span class="nullable">
                <select ng-model="myColor" ng-options="color.name for color in colors">
                    <option value="">-- choose color --</option>
                </select>
            </span>
        </label>
        <br/>

        <label>Color grouped by shade:
            <select ng-model="myColor" ng-options="color.name group by color.shade for color in colors">
            </select>
        </label>
        <br/>

        <label>Color grouped by shade, with some disabled:
            <select ng-model="myColor" ng-options="color.name group by color.shade disable when color.notAnOption for color in colors">
            </select>
        </label>
        <br/> Select
        <button ng-click="myColor = { name:'not in list', shade: 'other' }">bogus</button>.
        <br/>
        <hr/> Currently selected: {{ {selected_color:myColor} }}
        <div style="border:solid 1px black; height:20px" ng-style="{'background-color':myColor.name}"></div>
    </div>

    <!-- Load jQuery and AngularJS. -->
	<script data-ng-ignore src="../mobilesiteos/msos/base.uc.js"></script>
    <script data-ng-ignore src="../mobilesiteos/jquery/v214.uc.js"></script>
	<script data-ng-ignore src="../mobilesiteos/ng/v148_msos.uc.js"></script>
	<script data-ng-ignore src="../mobilesiteos/ng/bootstrap/v0130_w_tpls.uc.js"></script>

    <script data-ng-ignore>
        angular.module('selectExample', [])
            .controller('ExampleController', ['$scope', function($scope) {
                $scope.colors = [{
                    name: 'black',
                    shade: 'dark'
                }, {
                    name: 'white',
                    shade: 'light',
                    notAnOption: true
                }, {
                    name: 'red',
                    shade: 'dark'
                }, {
                    name: 'blue',
                    shade: 'dark',
                    notAnOption: true
                }, {
                    name: 'yellow',
                    shade: 'light',
                    notAnOption: false
                }];
                $scope.myColor = $scope.colors[2]; // red
            }]);

        // Bootstrap our simple demo
        angular.bootstrap('body', ['selectExample']);
    </script>

</body>
</html>